body{
	font-family: "Calibri", sans-serif;
	background-color:#fdffdb;
}

li{
padding-bottom: 20px;
}

ul{
	font-weight: bold;
	list-style-type:none
}
button{
	background-color: pink;
	border: none;
	color: white;
	width: 150px;
	height: 50px;
	font-size: 1em;
}