body{
	font-family: "Calibri", sans-serif;
	background-color:#fdffdb;
	text-align: center;	
}


#title {
	font-size: 3em;
}

button{
	background-color: #b1faf7;
	border: none;
	color: white;
	width: 150px;
	height: 50px;
	font-size: 1em;
}

#grid{
	margin: 50px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	
	/**animation */
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


.square {
    background-color: pink;
    border: 1px solid white;
	height: 100px;
	width: 100px;
}

/**restart button, set to display:block when score < 0 */
#restart {
	display:none;
}

#leaderboard {
	font-size: 0.5em;
}

#score {
	font-size: 3em;
}

#name{
	font-size: 1em;
	width: 100%;
	height: 40px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 100;
	width: 100%;
	text-align: center;
}

#res {
	background-color: pink;
}

table {
  font-family: calibri, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffd4d4;
}

tr:nth-child(odd) {
  background-color: white;
}

#players {
	font-size: 2em;
}

#message {
	font-size: 1.5em;
}